.Emotion-Wrapper{
    // background-color: black;
    color: whitesmoke;
    padding: 1rem;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;

    button{
    background-color: #e9508b;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    }
    button:hover{
        transform: scale(0.9);
        cursor: pointer;
    }
}

